html {

  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #34373E;
}

h1 {
  font-size: 50px;
}

h1,a {
  color: white;
  text-decoration: none;
}

input {
  border: 2px solid #8f8f8f;
  color: white;
  font-size: 35px;
}

input, .login-button {
  width: 300px;
  height: 60px;
  border-radius: 4px;
  background-color: #34373E;
}

input:focus{
  outline: 2px solid #3ad2ad;
  border-radius: 4px;
}

.login-button {
  background-color:#3ad2ad;
  color: white;
  font-size: 20px;
  width: 322px;
  border: 0px;
}

.login-button:hover{
  background-color: #35bf9e;
}

a:hover{
  color:#3ad2ad;
}

a{
  color: grey;
}

.marvin-text {
  padding-bottom: 20px;
}

.register-form {
  padding-top: 0px;
}

@media only screen and (min-width: 1125px) {
  .left-side {
    float: left;
    padding-left: 20%;
  }

  .right-side {
    padding-right: 20%;
    float: right;
  }
}

@media only screen and (min-width: 1500px) {
  .left-side {
    float: left;
    padding-left: 30%;
  }

  .right-side {
    padding-right: 30%;
    float: right;
  }
}
